@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
* {
  font-family: "Montserrat", sans-serif;

}

/* cursor: none; */

root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#53DD89 1px, transparent 1px), linear-gradient(to right, #53DD89 1px, transparent 1px);
  background-size: 100px 100px; /* Adjust the size based on your preference */
  color: rgba(113, 113, 113, 0.07);
  opacity: 0.03;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transition-property: all;
}

html, body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* hide the default scrollbar */
}

body {
  overflow: auto; /* Allow content scrolling */
  background: linear-gradient(70deg, #061314 0%, #0d2224 60%, #071a1c 100%);
  color: #a9bdcf;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes colorChangeS {
  0% {
    color: #61f098;
  }
  10% {
    color: #53dd89;
  }

  25% {
    color: #53956c;
  }
  0% {
    color: #28eb73;
  }
  61% {
    color: #40df7d;
  }
  0% {
    color: #1ae367;
  }
  75% {
    color: #53dd89;
  }
  0% {
    color: #4dc67b;
  }
}

/* Add more keyframes for other letters if needed */

.animate-color-change-s {
  display: inline-block;
  animation: colorChangeS 2s infinite;
}

/* Add more classes for other letters if needed */
